@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  .travigo-container {
    @apply w-[85vw] lg:w-[90vw] m-auto;
  }

  .emerald-btn {
    @apply bg-emerald-500 text-xl sm:text-sm rounded-full px-7 drop-shadow-lg sm:px-3 py-1.5 sm:w-[45vw] shadow-lg shadow-emerald-400 text-slate-100 active:scale-105 duration-300 transition-all;
  }

  .light-btn {
    @apply bg-white text-xl sm:text-sm rounded-full px-7 drop-shadow-lg sm:px-3 py-1.5 sm:w-[45vw] shadow-slate-200 shadow-lg text-slate-900 active:scale-105 duration-300 transition-all;
  }

  .img-emerald-shadow {
    filter: drop-shadow(0.1rem 0.1rem 1rem rgba(74 222 128 / 80%));
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none !important;
  }
}
